 .lin p > a{
	padding: 3px 12px;
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857;
	color: #2E3338;
	text-decoration: none;
	background-color: #FFF;
	border: 1px solid #DDD;
	margin-right: 3px;
}
 .lin p > a:hover{
	color: #2E3338;
	background-color: #EEE;
	border-color: #DDD;
	margin-right: 3px;
}
 .lin p > a.current{
	z-index: 2;
	color: white;
	cursor: default;
	background-color: #2E3338;
	border-color: #2E3338;
	margin-right: 3px;
}
.error{
	color:red !important;
}